@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

/* 可以下載文字包替換ttf */
@font-face {
  font-family: "GenJyuuGothic";
  src: url("./assets/GenJyuuGothic-Normal.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GenJyuuGothic","Urbanist", sans-serif;
}

.container {
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

section {
  padding: 50px 0;
}

.sticky_header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
